<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Movie Reviewer</title>
    <!---bootstrap css---->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!---css style---->
    <link rel="stylesheet" href="/moviereviewer/assets/css/style.css">
    <!---fontawesome icons---->
    <script src="https://kit.fontawesome.com/e46a729e48.js" crossorigin="anonymous"></script>
</head>

<header>
<!-- Responsive navigation -->
<nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/moviereviewer/static/templates/index.html"><img
        src="/moviereviewer/images/movie-reviewer-logo.png" id="logo" alt="Movie Reviewer logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-nav justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/moviereviewer/static/templates/index.html">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/moviereviewer/static/templates/login.html">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/moviereviewer/static/templates/register.html">Register</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

</header>

<body>

    <!-- H1 tag -->
    <div class="heading">
      <div class="col-md-4 offset-md-4">
        <h1>Welcome To Movie Review, the best website for all your favourite movie reviews!</h1>
      </div>
    </div>

    <!-- about movies reviewer cards -->
    
    <div class="about">
      <div class="container-fluid">
        <div class="row">
          <h2>Why Visit Movie Reviewer?</h2>
        <div class="col-md-4">
          <i class="fa-solid fa-film"></i>
          <h3>All your favourite movies!</h3>
          <p>We review all movies and want to hear your opinion on them too!</p>
        </div>

        <div class="col-md-4">
          <i class="fa-solid fa-video"></i>
          <h3>Find New Favourite Movies!</h3>
          <p>Read our reviews to find out what might just be your next favourite movie</p>
        </div>

        <div class="col-md-4">
          <i class="fa-solid fa-pen-clip"></i>
          <h3>Showcase your inner critique</h3>
          <p>Leave reviews to help other film lovers discover your favourites</p>
        </div>
      </div>
      </div>
    </div>

  <!-- Review Examples -->

  <div class="reviews-header">
    <h3>Reviews</h3>
  </div>

  <div class="row mb-5 justify-content-center reviews">
        
        
    <div class="col-lg-4 col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h3 class="card-title">
                    <strong>Shutter Island</strong>
                    
                </h3>
                <p class="card-subtitle mb-1 text-body-secondary">Genre: Thriller</p>
                <h4 class="card-subtitle mb-2">One of the best twists I've ever seen!</h4>
                <p class="card-text">
                    I really didn't expect that ending, Leonardo was incredible!
                    
                </p>
                <p class="card-subtitle text-body-secondary mt-auto">Author: Steven Phillips</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card h-100">
          <div class="card-body d-flex flex-column">
              <h3 class="card-title">
                  <strong>Despicable Me</strong>
                  
              </h3>
              <p class="card-subtitle mb-1 text-body-secondary">Genre: Family</p>
              <h4 class="card-subtitle mb-2">So fluffy!!!</h4>
              <p class="card-text">
                  Steve Carrell was perfect in the movie. A fantastic movie that all the family can enjoy. My kids loved it just as much as me!
                  
              </p>
              <p class="card-subtitle text-body-secondary mt-auto">Author: Walter Richards</p>
          </div>
          
      </div>
  </div>
    
  <div class="col-lg-4 col-md-6 mb-3">
    <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h3 class="card-title">
                <strong>Silent Hill</strong>
                
            </h3>
            <p class="card-subtitle mb-1 text-body-secondary">Genre: Horror</p>
            <h4 class="card-subtitle mb-2">Jumped straight out of my seat</h4>
            <p class="card-text">
                I really wasn't expecting it to be so scary! The cat hasn't talked to me since
                
            </p>
            <p class="card-subtitle text-body-secondary mt-auto">Author: Mary Shelley</p>
        </div>
        
    </div>
</div>
    
    
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

<footer>
    <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-4 footer-contact">
            <h4>Contact Us</h4>
            <p class="email"><a href="mailto:hello@moviereview.com"><i class="fa-solid fa-envelope"></i>
                admin@riffreview.com</a></p>
          </div>
          <div class="col-md-4 offset-md-4 footer-socials">
            <h4>Follow Us On Social Media!</h4>
            <p class="social-link"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" aria-hidden="true"></i>
                Facebook</a></p>
            <p class="social-link"><a href="https://twitter.com/?lang=en"><i class="fa-brands fa-square-x-twitter" aria-hidden="true"></i>
                Twitter (X)</a></p>
            <p class="social-link"><a href="https://www.instagram.com/""><i class="fa-brands fa-square-instagram" aria-hidden="true"></i>
                Instagram</a></p>
          </div>
        </div>
      </div>
    </div>
</footer>
</html>